### Importing necessary Libraries

In [89]:
import pandas as pd
import numpy as np

### Importing Training and Testing Data

In [90]:
df_train=pd.read_csv('tcd ml 2019-20 income prediction training (with labels).csv')
df_test=pd.read_csv('tcd ml 2019-20 income prediction test (without labels).csv')

### To view first 5 rows of training data set

In [91]:
df_train.head()

,Instance,Year of Record,Gender,Age,Country,Size of City,Profession,University Degree,Wears Glasses,Hair Color,Body Height [cm],Income in EUR
0,1,1997.0,0,41.0,Belarus,1239930,steel workers,Bachelor,0,Blond,193,61031.94416
1,2,1996.0,other,41.0,Singapore,1603504,safe event coordinator,Master,0,Black,186,91001.32764
2,3,2018.0,other,28.0,Norway,1298017,receivables/payables analyst,PhD,1,Brown,170,157982.17670
3,4,2006.0,other,33.0,Cuba,751903,fleet assistant,No,1,Black,171,45993.75793
4,5,2010.0,female,46.0,United Arab Emirates,95389,lead trainer,0,0,Blond,188,38022.16217

### To view last 5 rows of testing data set

In [92]:
df_test.tail()

,Instance,Year of Record,Gender,Age,Country,Size of City,Profession,University Degree,Wears Glasses,Hair Color,Body Height [cm],Income
73225,185219,2012.0,male,37.0,Norway,62975,payroll supervisor,Bachelor,0,Brown,203,NaN
73226,185220,2016.0,other,42.0,Slovakia,46819,purchasing agent - buyer,No,0,Black,181,NaN
73227,185221,2019.0,other,50.0,Sweden,525072,neigborhood resiliency specialist,Master,1,Brown,162,NaN
73228,185222,1980.0,female,54.0,Netherlands,915892,it infrastructure project manager,Master,1,Brown,162,NaN
73229,185223,2017.0,other,41.0,Tunisia,62607,materials engineer,Master,0,Brown,197,NaN

### To view basic information about the Training data set. eg. Missing values, datatype,etc

In [93]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111993 entries, 0 to 111992
Data columns (total 12 columns):
Instance             111993 non-null int64
Year of Record       111552 non-null float64
Gender               104561 non-null object
Age                  111499 non-null float64
Country              111993 non-null object
Size of City         111993 non-null int64
Profession           111671 non-null object
University Degree    104623 non-null object
Wears Glasses        111993 non-null int64
Hair Color           104751 non-null object
Body Height [cm]     111993 non-null int64
Income in EUR        111993 non-null float64
dtypes: float64(3), int64(4), object(5)
memory usage: 10.3+ MB

### To get a better understanding of the Training data

In [94]:
df_train.describe()

,Instance,Year of Record,Age,Size of City,Wears Glasses,Body Height [cm],Income in EUR
count,111993.000000,111552.000000,111499.000000,1.119930e+05,111993.000000,111993.000000,1.119930e+05
mean,55997.000000,1999.421274,37.345304,8.388538e+05,0.500531,175.220192,1.092138e+05
std,32329.738686,11.576382,16.036694,2.196879e+06,0.500002,19.913889,1.498024e+05
min,1.000000,1980.000000,14.000000,7.700000e+01,0.000000,94.000000,-5.696906e+03
25%,27999.000000,1989.000000,24.000000,7.273400e+04,0.000000,160.000000,3.077169e+04
50%,55997.000000,1999.000000,35.000000,5.060920e+05,1.000000,174.000000,5.733917e+04
75%,83995.000000,2009.000000,48.000000,1.184501e+06,1.000000,190.000000,1.260936e+05
max,111993.000000,2019.000000,115.000000,4.999251e+07,1.000000,265.000000,5.285252e+06

### Finding the count of NAN value records in Training Data set

In [95]:
print("No. of missing values in Gender:",df_train.Gender.isna().sum())
print("No. of missing values in Year of Record:",df_train['Year of Record'].isna().sum())
print("No. of missing values in Age:",df_train.Age.isna().sum())
print("No. of missing values in Profession:",df_train.Profession.isna().sum())
print("No. of missing values in University Degree:",df_train['University Degree'].isna().sum())
print("No. of missing values in Hair Color:",df_train['Hair Color'].isna().sum())

No. of missing values in Gender: 7432
No. of missing values in Year of Record: 441
No. of missing values in Age: 494
No. of missing values in Profession: 322
No. of missing values in University Degree: 7370
No. of missing values in Hair Color: 7242

### Handling missing values in Gender

In [96]:
#Finding unique values for Gender Column
print(df_train.Gender.unique())

['0' 'other' 'female' 'male' nan 'unknown']

In [97]:
#Replacing NAN with unknown
df_train['Gender']=df_train['Gender'].fillna('Unknown')

#Replacing 0 with unknown
df_train['Gender']=df_train['Gender'].replace('0','Unknown')

#Replacing unknown with Unknown
df_train['Gender']=df_train['Gender'].replace('unknown','Unknown')

In [98]:
#Finding the count of NAN value records in the Training Data Set for Gender
df_train['Gender'].isna().sum()

0

In [99]:
#Finding unique values for Gender Column
df_train.Gender.unique()

array(['Unknown', 'other', 'female', 'male'], dtype=object)

### Handling Missing values in Year of Record

In [100]:
#Finding unique values for Year of Record
list(df_train['Year of Record'].unique())

[1997.0,
 1996.0,
 2018.0,
 2006.0,
 2010.0,
 1991.0,
 1982.0,
 2008.0,
 2015.0,
 2019.0,
 1981.0,
 1989.0,
 2003.0,
 1987.0,
 1995.0,
 1992.0,
 1980.0,
 1983.0,
 2011.0,
 2014.0,
 1985.0,
 2005.0,
 1998.0,
 2001.0,
 2017.0,
 2007.0,
 1988.0,
 1994.0,
 2012.0,
 2009.0,
 2013.0,
 2004.0,
 1999.0,
 2002.0,
 1993.0,
 2000.0,
 1990.0,
 2016.0,
 nan,
 1986.0,
 1984.0]

In [101]:
#Replacing NAN with unknown
df_train['Year of Record']=df_train['Year of Record'].fillna(0)

In [102]:
#To check if the Nan values were removed from Year of Record
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111993 entries, 0 to 111992
Data columns (total 12 columns):
Instance             111993 non-null int64
Year of Record       111993 non-null float64
Gender               111993 non-null object
Age                  111499 non-null float64
Country              111993 non-null object
Size of City         111993 non-null int64
Profession           111671 non-null object
University Degree    104623 non-null object
Wears Glasses        111993 non-null int64
Hair Color           104751 non-null object
Body Height [cm]     111993 non-null int64
Income in EUR        111993 non-null float64
dtypes: float64(3), int64(4), object(5)
memory usage: 10.3+ MB

### Handling Missing values in Age

In [103]:
#Finding unique values for Age
list(df_train['Age'].unique())

[41.0,
 28.0,
 33.0,
 46.0,
 60.0,
 71.0,
 36.0,
 43.0,
 16.0,
 51.0,
 15.0,
 22.0,
 32.0,
 40.0,
 31.0,
 27.0,
 25.0,
 35.0,
 63.0,
 38.0,
 34.0,
 20.0,
 23.0,
 14.0,
 37.0,
 62.0,
 52.0,
 47.0,
 24.0,
 26.0,
 50.0,
 49.0,
 18.0,
 19.0,
 39.0,
 66.0,
 21.0,
 44.0,
 29.0,
 64.0,
 65.0,
 53.0,
 78.0,
 42.0,
 58.0,
 17.0,
 30.0,
 79.0,
 48.0,
 56.0,
 83.0,
 54.0,
 74.0,
 87.0,
 90.0,
 67.0,
 45.0,
 77.0,
 73.0,
 55.0,
 92.0,
 80.0,
 72.0,
 57.0,
 70.0,
 59.0,
 61.0,
 82.0,
 69.0,
 98.0,
 nan,
 94.0,
 68.0,
 81.0,
 97.0,
 76.0,
 75.0,
 88.0,
 91.0,
 96.0,
 84.0,
 89.0,
 107.0,
 85.0,
 86.0,
 100.0,
 110.0,
 95.0,
 99.0,
 93.0,
 104.0,
 102.0,
 101.0,
 105.0,
 111.0,
 108.0,
 103.0,
 109.0,
 106.0,
 115.0]

In [104]:
#Replacing NAN with 0
df_train['Age']=df_train['Age'].fillna(0)

In [105]:
#Finding if any NAN values are present in Age
df_train['Age'].isna().sum()

0

### Handling missing values in Profession

In [106]:
#Finding unique values for Age
list(df_train['Profession'].unique())

['steel workers',
 'safe event coordinator',
 'receivables/payables analyst',
 'fleet assistant',
 'lead trainer',
 'senior security analyst',
 'program associate',
 'retail specialist',
 'intergovernmental outreach coordinator',
 'lease analyst',
 'early childhood education consultant',
 'security administrator',
 'psychologist',
 'mining machine operator',
 'pile-driver operator',
 'senior product manager',
 'Aircraft Surface Finisher',
 'mobile device management architect',
 'paralegal aide',
 'postal service mail carrier',
 'public records aide',
 'optician',
 'Breeder',
 'sharepoint developer',
 'senior forester for restitution',
 'senior mainframe programmer analyst',
 'paramedic',
 'senior data analyst',
 'pharmacist',
 'painter',
 'senior bi developer',
 'janitor',
 'staff auditor',
 'labor relations attorney',
 'pest control worker',
 'quality control senior engineer',
 'physical therapist',
 'paralegal assistant supervisor',
 'office coordinator',
 'support engineer',
 'social science research assistant',
 'hostler',
 'logging worker',
 'senior crm developer',
 'program administrator',
 'meter reader',
 'network engineer',
 'environmental health & safety incident investigator',
 'nutrition consultant',
 'meeting and convention planner',
 'senior police administrative aide',
 'order filler',
 'medical examiner assistant',
 'program contract analyst',
 'personal financial advisor',
 'payroll data associate',
 'security and fire alarm systems installer',
 'occupational therapist assistant',
 'low pressure boiler inspector',
 'legal support worker',
 'senior investment analyst',
 'product support specialist',
 'human resources administrative assistant',
 'homeowner mortgage service manager',
 'network services manager',
 'Art Restorer',
 'senior program officer',
 'medical technician',
 'loan officer',
 'senior organizational development and training specialist',
 'maid',
 'senior human resources specialist',
 'radio room operator',
 'security system administrator',
 'program and policy specialist',
 'mechanical cost estimator',
 'sheet metal worker',
 'school health nurse practitioner',
 'it infrastructure project manager',
 'lead designer',
 'receptionist',
 'outbreak data analyst',
 'quality assurance auditor',
 'it - project manager',
 'oil burner specialist',
 'truck driver',
 'wellness advocate supervisor',
 'senior analyst',
 'implementation coordinator',
 'messenger',
 'postal service clerk',
 'senior rackets investigator',
 'registered nurse',
 'product promoter',
 'gaming surveillance officer',
 'rail-track laying and maintenance equipment operator',
 'management systems specialistcrm information systems manager',
 'prepress technician',
 'junior z/os engineer',
 'public policy and training coordinator',
 'deputy chief of quality assurance',
 'physical therapist assistant',
 'news analyst',
 'editor',
 'ip telephony design engineer',
 'personal care and service worker',
 'plan examiner',
 'school mental health consultant',
 'timekeeping specialist',
 'physician',
 'it security officer',
 'medicolegal analyst',
 'plasterer',
 'respiratory therapist',
 'power plant operator',
 'examiner',
 'triage coordinator',
 'preschool teacher',
 'records officer',
 'prosecutor',
 'public health nurse',
 'Analyst',
 'mediation coordinator',
 'plan management specialist',
 'metal work mechanic',
 'evaluation coordinator',
 'rebar workers',
 'senior mobile developer',
 'medicolegal investigator',
 'podiatrist',
 'neigborhood resiliency specialist',
 'press officer',
 'research assistant',
 'plumber',
 'operations customer service liaison',
 'senior architect cloud infrastructure design and engineering',
 'senior general counsel',
 'open market order coordinator',
 'senior technology analyst/coordinator',
 'grounds maintenance worker',
 'securities commodities and financial services sales agent',
 'media worker',
 'lead expense management analyst',
 'sales representative',
 'ombudsperson',
 'sanitation engineer',
 'records searcher',
 'resource specialist',
 'preplacement nurse practitioner',
 'junior public health nurse',
 'strategic operations policy analyst',
 'medical scientist',
 'it support technician',
 'senior investigative auditor',
 'purchasing agent - buyer',
 'legal coordinator',
 'plumbing inspector',
 'mining engineer',
 'locomotive engineer',
 'payment analyst',
 'street ambassador',
 'program managercadd coordinator',
 'security specialist',
 'laboratory associate',
 'procurement analyst',
 'hairdresser',
 'network administrator',
 'training specialists',
 'learning management',
 'iron worker',
 'photographer',
 'regulatory and licensing specialist',
 'projects coordinator',
 'singer',
 'mental health coordinator',
 'postal service mail sorter',
 'labor standards investigator',
 'residential advisor',
 'product owner',
 'program assistant',
 'industrial control technician',
 'gis analyst',
 'fingerprint unit specialist',
 'electrical inspector',
 'gaming manager',
 'lead business analyst',
 'integrity control officer',
 'nuclear technicians',
 'plumbing and fire suppression engineer',
 'senior service desk agent',
 'public health detailing specialist',
 'outreach assistant',
 'pumping station operator',
 'quality control case reviewer',
 'technician',
 'remote learning team specialist',
 'probation officer',
 'parking lot attendant',
 'insurance sales agent',
 'service desk manager',
 'property acquisition coordinator',
 'library assistant',
 'refuse and recyclable material collector',
 'measurer',
 'policy advisor',
 'natural sciences manager',
 'on-line medical control physician',
 'recreation and fitness worker',
 'searcher',
 'property manager',
 'marine electronics technician',
 'project coordinator',
 'lodging manager',
 'Aerobic Instructor',
 'probation officer trainee',
 'sr. internal auditor',
 'packer',
 'paperhanger',
 'health navigator',
 'roustabout',
 'principal administrative associate',
 'policy writer',
 'senior payment analyst',
 'senior project controls specialist',
 'postmaster',
 'geologist',
 'lifeguard',
 'investigative auditor',
 'radio repair mechanic',
 'supervising nurse',
 'sales engineer',
 'public health assistant',
 'statistician',
 'legal assistant',
 'quality assurance engineer',
 'marine engineer',
 'quality assurance manager',
 'scanning operator',
 'thermostat repairer',
 'market researcher',
 'senior budget analyst',
 'mail clerk',
 'space analyst',
 'qa senior auditor',
 'interviewer',
 'senior project analyst',
 'magistrate',
 'senior electrical engineer',
 'supervising physician',
 'umpire',
 'senior project leader',
 'program executive',
 'public warning specialist',
 'grant manager',
 'procedural justice coordinator',
 'quality assurance specialist',
 'police officer',
 'it business analyst',
 nan,
 'marketing and sales manager',
 'social service specialist',
 'social scientist',
 'summer college intern',
 'metrics and reporting engineer',
 'senior counsel',
 'greeter',
 'executive assistant',
 'rezoning manager',
 'usher',
 'it relationship manager',
 'juvenile justice trainer',
 'scientistscientist',
 'personnel associate',
 'senior research analyst',
 'instrumentation specialist',
 'technical writer',
 'judge',
 'field inspector',
 'integration support engineer',
 'unix system administrator',
 'principle design manager',
 'materials engineer',
 'engineering technician',
 'hr payroll systems security architect',
 'sorter',
 'senior director it',
 'inspector ',
 'help desk representative',
 'postal office clerk',
 'real estate manager',
 'policy analyst',
 'stucco mason',
 'roof bolter',
 'staff analyst ii',
 'Bingo Caller',
 'intergovernmental affairs intern',
 'jeweler',
 'recruiting & onboarding coordinator',
 'processor',
 'producer ',
 'information security audit and compliance manager',
 'purchasing manager',
 'motor vehicle operator',
 'program management office assistant',
 'load officer',
 'museum technician',
 'senior inspector',
 'flight engineer',
 'trauma-informed early care and education case supervisor',
 'senior safety accident investigator',
 'performance management specialist',
 'mailroom section supervisor',
 'waterfront project manager',
 'strategic account manager',
 'senior engineer',
 'radiation therapist',
 'parks enforcement patrol',
 'letterer and sign painter',
 'senior staff electrical engineer',
 'pipelayer',
 'it security analyst',
 'operations coordinator',
 'ticket taker',
 'quality management specialist',
 'survey researcher',
 'musician',
 'program specialist',
 'patternmaker',
 'program manager',
 'hostess',
 'junior financial planning and reporting analyst',
 'forester',
 'personnel coordinator',
 'retail salesperson',
 'registered dental hygienist',
 'rental clerk',
 'Betting Shop',
 'furniture finisher',
 'reporter',
 'information representative',
 'physical scientist',
 'network field technician',
 'human resources specialist',
 'performer',
 'safety accident investigator',
 'parking enforcement worker',
 'public relations manager',
 'senior director',
 'photogrammetrist',
 'qa analyst',
 'it contracts specialist',
 'heat coordinator',
 'edge engineer',
 'portfolio manager',
 'office manager',
 'tool grinder',
 'project director',
 'drafter',
 'service asset configuration manager',
 'safety engineer',
 'woodworker',
 'senior cook',
 'Audiologist',
 'statistical analyst',
 'secondary school teacher',
 'project manager',
 'java developer',
 'lead design engineer',
 'geological technician ',
 'radio and telecommunications equipment installer',
 'procurement clerk',
 'contract specialist',
 'licensed vocational nurse',
 'systems administrator - computer software',
 'regulatory compliance agency attorney',
 'youth initiatives lead advisor',
 'telemarketer',
 'executive director',
 'health promoter',
 'human resources',
 'operations manager',
 'public health adviser',
 'process messenger',
 'security guard',
 'laboratory technician',
 'radio operators',
 'special underwriting project manager',
 'radiation emergency response specialist',
 'supervisor',
 'insulation worker',
 'strategic initiatives coordinator',
 'information security identity & access manager',
 'human rights specialist',
 'project cost estimator',
 'hunter',
 'police administrative aide',
 "plumber's helper",
 'leather workers',
 'tile installer',
 'medical assistant',
 'kiln operator',
 'structural iron and steel worker',
 'industrial hygienist',
 'septic tank servicer',
 'senior operations associate',
 'telecommunications associate',
 'special projects manager',
 'sql/oracle database administrator',
 'sr. analyst',
 'human resources support staff',
 'information systems and quality analyst',
 'environmental engineer',
 'senior trainer',
 'human resources manager',
 'program coordinator for early childhood health',
 'vessel construction manager',
 'private detective',
 'personal and home care aide',
 'regional field administrative assistant',
 'hro application support manager',
 'geological engineer',
 'production support',
 'investigator trainee',
 'pest control aide',
 'legislator',
 'service contract procurement analyst',
 'safety & equipment training specialist',
 'group head',
 'process server',
 'intern',
 'office machine aide',
 'mailroom control clerk',
 'Beautician',
 'news and street vendor',
 'summer it intern',
 'special assistant',
 'steamfitter',
 'senior it business analyst',
 'project planner',
 'senior advisor',
 'school mental health training coordinator',
 'dental hygienist',
 'mail superintendent',
 'senior project engineer',
 'ship engineer',
 'student legal specialist',
 'field/desktop technician',
 'outreach intern',
 'locksmith',
 'labor law investigator',
 'evaluation lead',
 'special education teacher',
 'petroleum engineer',
 'field tech',
 'optical network engineer',
 'kettle operator',
 'maintenance worker',
 'Booking Clerk',
 'senior data scientist',
 'seasonal city park worker',
 'secretary to division chief',
 'senior program manager',
 'materials scientist',
 'Blind Assembler',
 'procurement specialist',
 'shuttle car operator',
 'liaison',
 'information security architecture & engineering manager',
 'public relations specialist',
 'forensic pathology technician',
 'senior business analyst',
 'program analyst',
 'portal support engineer',
 'librarian',
 'human resources assistant',
 'office administrator',
 'parts salesperson',
 'samplers',
 'recruitment assistant',
 'sales agent',
 'revenue agent',
 'physician assistant',
 'payroll supervisor',
 'presser',
 'juvenile implementation manager',
 'supervising health nurse',
 'senior developer',
 'operations associate',
 'environmental health & safety auditor',
 'recreational therapist',
 'management auditor',
 'staff attorney',
 'senior financial reporting investment analyst',
 'placement staff nurse',
 'probation assistant',
 'counselor',
 'gis editor',
 'process reform analyst intern',
 'Antique Dealer',
 'Airport Controller',
 'sailor',
 'staff photographer',
 'material moving worker',
 'inspector',
 'junior accountant',
 'pipefitter',
 'labor relations specialist',
 'port marine engineer',
 'staff counsel',
 'petroleum technician',
 'religious worker',
 'mathematician',
 'program planner',
 'quality child care manager',
 'industrial engineer',
 'resiliency coordinator',
 'telephone operator',
 'security officer',
 'marine oilermate',
 'electrical power-line installer',
 'technical lead',
 'penalty processing unit cashier',
 'logistician',
 'appliance repairer',
 'senior accountant',
 'forensic logistics specialist',
 'project manager ',
 'derrick service unit operator',
 'office assistant',
 'funeral director',
 'stationary engineer',
 'quality assurance project manager',
 'senior human capital partnership and performance management analyst',
 'resident engineer',
 'assessor ',
 'mapping technician',
 'door-to-door sales worker',
 'Assistant Caretaker',
 'security systems engineer',
 'rigger',
 'information security officer',
 'investment analyst',
 'testing lead',
 'executive agency counsel',
 'senior intergroup relations officer',
 'senior landscape architect',
 'office machine repairer',
 'timekeeper',
 'technical project manager/product owner',
 'supervising public health advisor',
 'senior public health inspector',
 'dynamic crm developer',
 'insurance claims and policy processing clerk',
 'service station attendant',
 'naval architect',
 'senior estimator',
 'environmental compliance specialist',
 'heating plant technician',
 'instructor',
 'engraver',
 'public health epidemiologist',
 'energy program analyst',
 'product advisor',
 'landscape architect',
 'health diagnosing and treating practitioner',
 'entertainer',
 'staff analyst',
 'Assistant',
 'foster care program evaluator',
 'massage therapist',
 'data architect',
 'product manager',
 'loan counselor',
 'medical and health services manager',
 'machine operator',
 'mechanical engineer',
 'licensing clerk',
 'chief information security officer',
 'vp for project management',
 'farmer ',
 'financial manager',
 'gardener',
 'Assistant Teacher',
 'Bank Manager',
 'senior exchange engineer',
 'senior network specialist',
 'postsecondary teacher',
 'systems access management engineer',
 'operations desktop support technician',
 'occupational therapist',
 'groundskeeping worker',
 'equity & special projects coordinator',
 'glazier',
 'water use inspector',
 'packager',
 'hiring plan analyst',
 'home health aide',
 'sewing machine operator',
 'Administration Clerk',
 'health adviser',
 'janitorial worker',
 'ship loaders',
 'railroad conductor',
 'inspector general',
 'investigator',
 'millwright',
 'project specialist',
 'Advertising Assistant',
 'Aeronautical Engineer',
 'molder',
 'resiliency engineer',
 'Anaesthetist',
 'Accounts Assistant',
 'nurse home visitor',
 'quality improvement specialist',
 'sewer',
 'research analyst',
 'senior project officer',
 'explosives worker',
 'solutions director',
 'stonemason',
 'project development coordinator',
 'human resources associate',
 'maintenance facilitator',
 'senior policy advisor',
 'Book-Keeper',
 'social worker',
 'nutritionist',
 'senior urban designer',
 'student data analyst',
 'nursing supervisor',
 'senior stationary engineer',
 'hr specialist',
 'policeman',
 'environmental health & safety regional manager',
 'safety auditor',
 'permit records assistant',
 'senior programmer',
 'strategic planning associate',
 'bellhop',
 'unit manager',
 'fire fighter',
 'functional analyst',
 'tour guide',
 'surveyor',
 'sergeant',
 'assembler',
 'etl lead',
 'senior windows administrator',
 'staff analyst 2',
 'senior title examiner',
 'transportation storage and distribution manager',
 'purchasing agent',
 'special examiner',
 'supervising housing groundskeeper',
 'investigative manager',
 'office clerk',
 'senior resiliency planner',
 'industrial program compliance analyst',
 'testifier/searcher',
 'order clerk',
 'senior quality oversight analyst',
 'Archivist',
 'payroll liaison',
 'spending analyst',
 'special consultant',
 'fleet management assistant',
 'intake investigator',
 'windows administrator',
 'section chief',
 'tax incentives director',
 'education administrator',
 'middle school teacher',
 'information clerk',
 'triage nurse',
 'highway maintenance worker',
 'switchboard operator',
 'manager',
 'furniture coordinator',
 'investment officer',
 'Artist',
 'library technician',
 'real estate broker',
 'machinist',
 'early intervention official',
 'industrial production manager',
 'deputy commissioner',
 'roofer',
 'server support engineer',
 'ordered deductions analyst',
 'reinforcing iron worker',
 'revenue assistant',
 'investigative consultant',
 'review unit supervisor',
 'welder',
 'procurement contracting officer',
 'gis specialist',
 'urban and regional planner',
 'it operations clerk',
 'risk management',
 'deckhand',
 'temporary assistant urban designer',
 'paralegal',
 'surgeon',
 'x-ray technician',
 'tax preparer',
 'high pressure plant tender',
 'desk clerk',
 'Aerial Erector',
 'fiscal coordinator',
 'human resources generalist',
 'solar energy project manager',
 'Assistant Cook',
 'senior application engineer',
 'food scientist',
 'senior construction manager',
 'it contract analyst',
 'general manager ',
 'software developer',
 'front end developer',
 'parking enforcement officer',
 'Bricklayer',
 'food server',
 'graphic artist',
 'deputy director',
 'community service manager',
 'hazardous materials removal worker',
 'Acoustic Engineer',
 'optometrist',
 'strategic partnership liaison',
 'space scientists',
 'correctional officers',
 'special assistant to assistant deputy commissioner',
 'hairstylist',
 'Air Traffic Controller',
 'medical records and health information technician',
 'extraction worker',
 'tailor',
 'community supervisor',
 'biological technician',
 'Bar Steward',
 'travel agent',
 'stock clerk',
 'ordnance handling expert',
 'teacher assistant',
 'grader',
 'food preparation worker',
 'transportation specialist',
 'retail buyer',
 'business intelligence developer',
 'interagency exercise coordinator',
 'deputy budget director',
 'physicist',
 'peoplesoft developer',
 'head cook',
 'HVAC mechanic',
 'rancher',
 'small engine mechanic',
 'fire medical officer',
 'travel guide',
 'data analyst',
 'etchers',
 'fleet administrator',
 'senior project manager',
 'service desk agent',
 'speech-language pathologist',
 'general counsel',
 'fish and game warden',
 'valve installer',
 'Administration Staff',
 'management analyst',
 'emergency communications specialist',
 'triage supervisor',
 'data research analyst',
 'intergovernmental relations task force',
 'talent acquisition specialist',
 'yardmaster',
 'technical sales manager',
 'environmental program manager',
 'financial specialist',
 'green infrastructure engineer',
 'research scientist',
 'technical investigator',
 'lobby attendant',
 'senior civil service advisor',
 'enviromental assessment coordinator',
 'senior port engineer',
 'senior case support associate',

In [107]:
#Replacing NAN with unknown
df_train['Profession']=df_train['Profession'].fillna('Unknown')

### Handling missing values in University Degree

In [108]:
#Finding unique values in University Degree
df_train['University Degree'].unique()

array(['Bachelor', 'Master', 'PhD', 'No', '0', nan], dtype=object)

In [109]:
#Replacing NAN with unknown
df_train['University Degree']=df_train['University Degree'].fillna('Unknown')

#Replacing 0 with unknown
df_train['University Degree']=df_train['University Degree'].replace('0','Unknown')

### Handling missing values in Hair Color

In [110]:
#Finding unique values in Hair Color
df_train['Hair Color'].unique()

array(['Blond', 'Black', 'Brown', nan, 'Red', 'Unknown', '0'],
      dtype=object)

In [111]:
#Replacing NAN with unknown
df_train['Hair Color']=df_train['Hair Color'].fillna('Unknown')

#Replacing 0 with unknown
df_train['Hair Color']=df_train['Hair Color'].replace('0','Unknown')

#Replacing unknown with Unknown
df_train['Hair Color']=df_train['Hair Color'].replace('unknown','Unknown')

### To check if all the missing values were removed from Training Dataset

In [112]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111993 entries, 0 to 111992
Data columns (total 12 columns):
Instance             111993 non-null int64
Year of Record       111993 non-null float64
Gender               111993 non-null object
Age                  111993 non-null float64
Country              111993 non-null object
Size of City         111993 non-null int64
Profession           111993 non-null object
University Degree    111993 non-null object
Wears Glasses        111993 non-null int64
Hair Color           111993 non-null object
Body Height [cm]     111993 non-null int64
Income in EUR        111993 non-null float64
dtypes: float64(3), int64(4), object(5)
memory usage: 10.3+ MB

### Handling missing data from Testing Data Set

In [113]:
#Replacing NAN with unknown
df_test['Gender']=df_test['Gender'].fillna('Unknown')

#Replacing 0 with unknown
df_test['Gender']=df_test['Gender'].replace('0','Unknown')

#Replacing unknown with Unknown
df_test['Gender']=df_test['Gender'].replace('unknown','Unknown')

#Replacing NAN with unknown
df_test['Year of Record']=df_test['Year of Record'].fillna(0)

#Replacing NAN with 0
df_test['Age']=df_test['Age'].fillna(0)

#Replacing NAN with unknown
df_test['Profession']=df_test['Profession'].fillna('Unknown')

#Replacing NAN with unknown
df_test['University Degree']=df_test['University Degree'].fillna('Unknown')

#Replacing 0 with unknown
df_test['University Degree']=df_test['University Degree'].replace('0','Unknown')

#Replacing NAN with unknown
df_test['Hair Color']=df_test['Hair Color'].fillna('Unknown')

#Replacing 0 with unknown
df_test['Hair Color']=df_test['Hair Color'].replace('0','Unknown')

#Replacing unknown with Unknown
df_test['Hair Color']=df_test['Hair Color'].replace('unknown','Unknown')

### Implementing Target Encoding Function

In [114]:
def add_noise(series, noise_level):
    return series * (1 + noise_level * np.random.randn(len(series)))

def target_encode(df_train, df_test,target):
    min_samples_leaf=1
    smoothing=1
    noise_level=0
    temp = pd.concat([df_train, target], axis=1)
    #Compute target mean 
    averages = temp.groupby(by=df_train.name)[target.name].agg(["mean", "count"])
    #Compute smoothing
    smoothing = 1 / (1 + np.exp(-(averages["count"] - min_samples_leaf) / smoothing))
 
    #Apply average function to all target data
    prior = target.mean()
    #The bigger the count the less full_avg is taken into account
    averages[target.name] = prior * (1 - smoothing) + averages["mean"] * smoothing
    averages.drop(["mean", "count"], axis=1, inplace=True)
    #Apply averages to trn and tst series
    ft_df_train = pd.merge(df_train.to_frame(df_train.name),averages.reset_index().rename(columns={'index': target.name, target.name: 'average'}),on=df_train.name,how='left')['average'].rename(df_train.name + '_mean').fillna(prior)
    #pd.merge does not keep the index so restore it
    ft_df_train.index = df_train.index 
    ft_df_test = pd.merge(df_test.to_frame(df_test.name),averages.reset_index().rename(columns={'index': target.name, target.name: 'average'}),on=df_test.name,how='left')['average'].rename(df_train.name + '_mean').fillna(prior)
    #pd.merge does not keep the index so restore it
    ft_df_test.index = df_test.index
    return add_noise(ft_df_train, noise_level), add_noise(ft_df_test, noise_level)

### Implementing Target Encoder on Categorical Columns

In [115]:
df_train['Gender'],df_test['Gender']=target_encode(df_train['Gender'], df_test['Gender'],df_train['Income in EUR'])
df_train['Country'],df_test['Country']=target_encode(df_train['Country'], df_test['Country'],df_train['Income in EUR'])
df_train['Profession'],df_test['Profession']=target_encode(df_train['Profession'], df_test['Profession'],df_train['Income in EUR'])
df_train['University Degree'],df_test['University Degree']=target_encode(df_train['University Degree'], df_test['University Degree'],df_train['Income in EUR'])
df_train['Hair Color'],df_test['Hair Color']=target_encode(df_train['Hair Color'], df_test['Hair Color'],df_train['Income in EUR'])

### Dividing the Training Data to X= Features and y=Label for Testing Accuracy

In [116]:
X=df_train.drop(['Income in EUR'],axis=1)
y=df_train['Income in EUR']

### Importing library from sklearn to Split Main Training Data to Train and Test

In [117]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.7, random_state=100)

### Implementing Ordinary Least Squares for feature reduction depending upon P value
#### Remove the columns if P value is high as they as insignificant

In [118]:
import statsmodels.api as sm

X_train1 = sm.add_constant(X_train)

lm = sm.OLS(y_train,X_train1).fit()

print(lm.summary())

/Users/chavvichandani/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

                            OLS Regression Results
==============================================================================
Dep. Variable:          Income in EUR   R-squared:                       0.697
Model:                            OLS   Adj. R-squared:                  0.697
Method:                 Least Squares   F-statistic:                 1.642e+04
Date:                Wed, 16 Oct 2019   Prob (F-statistic):               0.00
Time:                        19:36:15   Log-Likelihood:            -9.9842e+05
No. Observations:               78395   AIC:                         1.997e+06
Df Residuals:                   78383   BIC:                         1.997e+06
Df Model:                          11
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const             -4.276e+05   5.88e+04     -7.267      0.000   -5.43e+05   -3.12e+05
Instance              0.0044      0.009      0.480      0.631      -0.013       0.022
Year of Record       19.5660      2.312      8.464      0.000      15.035      24.097
Gender                0.2036      0.062      3.305      0.001       0.083       0.324
Age                1688.8288     18.159     93.004      0.000    1653.238    1724.420
Country               0.9991      0.002    400.290      0.000       0.994       1.004
Size of City          0.0013      0.000      9.593      0.000       0.001       0.002
Profession            0.8065      0.010     78.719      0.000       0.786       0.827
University Degree     1.0049      0.036     27.617      0.000       0.934       1.076
Wears Glasses      1083.1157    587.234      1.844      0.065     -67.860    2234.092
Hair Color            0.1152      0.533      0.216      0.829      -0.929       1.160
Body Height [cm]    523.1403     16.337     32.022      0.000     491.120     555.160
==============================================================================
Omnibus:                    71298.514   Durbin-Watson:                   1.989
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          7488686.613
Skew:                           4.000   Prob(JB):                         0.00
Kurtosis:                      50.208   Cond. No.                     4.75e+08
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.75e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

### Dropping insignificant columns from Test and Train

In [119]:
X_train=X_train.drop(['Hair Color'],axis=1)
X_train=X_train.drop(['Gender'],axis=1)
X_train=X_train.drop(['Wears Glasses'],axis=1)
X_train=X_train.drop(['Instance'],axis=1)


X_test=X_test.drop(['Hair Color'],axis=1)
X_test=X_test.drop(['Gender'],axis=1)
X_test=X_test.drop(['Wears Glasses'],axis=1)
X_test=X_test.drop(['Instance'],axis=1)

### Implementing GradientBoostingRegressor

In [120]:
from sklearn.ensemble import GradientBoostingRegressor
gbr = GradientBoostingRegressor(n_estimators=1200,learning_rate=0.09)
gbr.fit(X_train,y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.09, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=1200,
                          n_iter_no_change=None, presort='auto',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [121]:
X_train

,Year of Record,Age,Country,Size of City,Profession,University Degree,Body Height [cm]
80764,1984.0,25.0,78566.097556,979330,100543.378783,116507.320667,181
55672,2012.0,31.0,46257.979683,65261,111438.015351,100846.516693,203
14358,1980.0,15.0,26691.192820,368539,99151.834306,108933.097570,164
111096,1981.0,46.0,181745.677265,1996102,179843.034037,108933.097570,150
15926,0.0,69.0,92223.185601,1419956,91431.842970,108933.097570,158
58014,2016.0,36.0,27645.283330,749694,109502.530143,116507.320667,210
72551,1986.0,20.0,28810.545318,390396,82102.656179,97293.133747,187
106546,1996.0,26.0,66925.916195,474080,149644.737732,108933.097570,138
82915,2008.0,22.0,157081.706548,560218,62859.349991,100846.516693,175
48813,1991.0,30.0,100229.495759,1529314,110572.416009,116507.320667,187
44242,2001.0,41.0,90803.759133,86580,102459.377444,108933.097570,190
22859,1980.0,63.0,72324.040406,388395,76237.924290,116507.320667,160
61816,2004.0,31.0,40478.734970,82518,129174.777282,116507.320667,155
40556,1994.0,43.0,36984.823853,91761,68816.599062,100846.516693,155
63137,1995.0,49.0,46257.979683,2496617,102087.699448,100846.516693,173
75976,2007.0,26.0,64396.592903,409714,125110.233866,100846.516693,179
60208,1991.0,59.0,79317.715190,1712188,125826.290954,100846.516693,198
67360,2014.0,62.0,33043.887710,1333161,202609.147293,108933.097570,189
82387,2002.0,36.0,113168.054502,893651,153235.061274,116507.320667,175
91481,2013.0,15.0,38641.606723,1281464,103097.131089,116507.320667,197
40004,1991.0,34.0,198152.894971,167931,95656.327318,100846.516693,180
100981,1991.0,64.0,355620.565498,678549,95656.327318,108933.097570,167
14076,1994.0,38.0,222117.648879,27174,113509.820085,116507.320667,169
26964,2013.0,28.0,87116.830844,1203643,102459.377444,116507.320667,180
41150,1998.0,36.0,25917.123585,84191,109410.845082,116507.320667,161
85684,1980.0,37.0,79317.715190,2245031,68740.382208,100846.516693,150
101438,1989.0,51.0,66925.916195,86725,119932.171117,108933.097570,167
11340,1986.0,41.0,26691.192820,875112,127147.808970,108933.097570,196
12426,2001.0,40.0,40265.803757,68540,78092.068648,129392.416341,166
56905,1998.0,54.0,56499.605079,19700,147581.051894,108933.097570,184
...,...,...,...,...,...,...,...
71323,2017.0,31.0,303559.868002,88716,103067.079098,116507.320667,160
84354,1986.0,32.0,56499.605079,2016608,90165.604670,116507.320667,153
6230,2018.0,48.0,265648.449319,290292,195927.812933,97293.133747,199
80989,1980.0,22.0,51987.969876,55469,105104.833410,97293.133747,172
38537,2019.0,41.0,40265.803757,408171,145092.604679,116507.320667,201
42491,1990.0,32.0,56285.026965,1546474,105314.574974,108933.097570,183
109456,2006.0,63.0,135724.673788,2229387,104307.267027,116507.320667,170
7738,2016.0,28.0,42773.138452,735344,140702.276257,100846.516693,169
17724,1999.0,47.0,100607.155049,1897099,91566.295942,100846.516693,185
59243,2017.0,51.0,66925.916195,293301,124344.379849,108933.097570,149
109796,1983.0,27.0,30292.639718,587141,138216.433557,116507.320667,153
91791,1989.0,65.0,78566.097556,47599,94486.903646,100846.516693,183
86296,1990.0,49.0,26619.671417,86199,111933.552679,97293.133747,152
109296,2002.0,15.0,169216.584264,1818526,93698.603846,116507.320667,161
78833,1994.0,39.0,291586.248009,186345,96631.790175,100846.516693,198
49954,1989.0,22.0,24823.551244,2345036,98310.239260,108933.097570,191
71182,1991.0,41.0,25917.123585,719073,127548.111173,116507.320667,154
106210,1993.0,49.0,56285.026965,61107,106412.052220,100846.516693,193
13890,1998.0,57.0,115542.390790,795621,124246.264687,116507.320667,152
20533,1983.0,38.0,61135.778415,49319160,98431.444060,116507.320667,158
75618,2006.0,20.0,147690.933620,82803,123753.736262,116507.320667,187
14260,1988.0,49.0,28138.382300,377648,140513.174396,100846.516693,185
82270,1990.0,53.0,72456.637443,50758,115314.986508,108933.097570,170
63370,1989.0,38.0,126292.833602,74482,150481.890644,108933.097570,157
81840,2012.0,28.0,46257.979683,67744,97240.662534,116507.320667,163
65615,1997.0,53.0,62039.079598,85380,90747.262199,108933.097570,166
77655,2003.0,45.0,50700.748946,50248,94168.732875,108933.097570,141
79683,2006.0,49.0,33116.813053,63407,82715.042557,116507.320667,200
56088,1988.0,39.0,42773.138452,20918,126796.277006,108933.097570,157
38408,1990.0,67.0,30292.639718,2930914,138327.642309,108933.097570,162

### Predicting y_pred from X_test

In [122]:
y_pred = gbr.predict(X_test)

### Calculating Root Mean Square Error

In [123]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test,y_pred) 
rmse = np.sqrt(mse)

print ('{0:f}'.format(rmse))

55232.745830

### Splitting the Main Testing Data to features and label

In [124]:
X_test_final=df_test.drop(['Income'],axis=1)
y_test_final=df_test['Income']

### Dropping all the insignificant columns as we did for training data

In [125]:
X_test_final=X_test_final.drop(['Hair Color'],axis=1)
X_test_final=X_test_final.drop(['Gender'],axis=1)
X_test_final=X_test_final.drop(['Wears Glasses'],axis=1)
X_test_final=X_test_final.drop(['Instance'],axis=1)

### Predicting the final Income

In [126]:
y_pred_final= gbr.predict(X_test_final)

### Preparing the submission file columns

In [127]:
Income=pd.DataFrame(y_pred_final)
Instance=pd.DataFrame(df_test['Instance'])
submission_df=pd.concat([Instance,Income],axis=1)
submission_df.columns=['Instance','Income']
submission_df

       Instance         Income
0        111994   26405.446128
1        111995    5859.666207
2        111996   35396.637166
3        111997   92881.095414
4        111998   21429.504425
5        111999  104977.752625
6        112000   99688.021109
7        112001   53400.303993
8        112002   39241.982897
9        112003  107909.744378
10       112004    6812.078858
11       112005  180070.336816
12       112006   35444.665184
13       112007  102564.878005
14       112008  251534.083548
15       112009   80587.587577
16       112010   48417.692994
17       112011   28327.252514
18       112012   19869.172700
19       112013   14458.042788
20       112014  126024.928331
21       112015   56812.898435
22       112016   43736.261906
23       112017   26280.835358
24       112018  142405.433339
25       112019   51900.519570
26       112020   39142.201872
27       112021   22359.286396
28       112022  104589.740093
29       112023   65131.774397
...         ...            ...
73200    185194   10212.689102
73201    185195  220499.139799
73202    185196  196049.453919
73203    185197  111719.641699
73204    185198   22277.642865
73205    185199   77889.155040
73206    185200   94612.064117
73207    185201   62482.650637
73208    185202   76812.140323
73209    185203   93954.458756
73210    185204   40174.880888
73211    185205   65432.145484
73212    185206   38487.615839
73213    185207   16999.427470
73214    185208   40064.453872
73215    185209   73138.092742
73216    185210  115783.933525
73217    185211  113699.851761
73218    185212  189360.449372
73219    185213  121138.073683
73220    185214   26860.575377
73221    185215   31080.471234
73222    185216   80414.740546
73223    185217  156102.944679
73224    185218  602916.982148
73225    185219   86167.176940
73226    185220   82668.774981
73227    185221   65672.834096
73228    185222  154116.325345
73229    185223  193419.004647

[73230 rows x 2 columns]

In [129]:
submission_df.to_csv('Final_Submission.csv',index=False)